{% extends 'appportfolio/base.html' %}
{% load static %}
{% block content %}
<section>
  <div class="container">
    <div class="shadow-lg p-5 my-5 bg-white rounded">
      <!-- name header -->
      <div class="row mt-3">
        <div class="col-md-6 col-lg-8 col-xl-9">
          <h1 class="text-uppercase text-persian-green font-weight-bold">Shravan Kushwaha</h1>
          <h6 class="text-muted">Senior Software Engineer</h6>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 border-left">
          <ul class="list-unstyled">
            <li><i class="fa fa-phone-square mr-2 text-charcoal" aria-hidden="true"></i> <a href="tel:8172831542">(+91) 8172831542</a></li>
            <li><i class="fa fa-envelope mr-2 text-charcoal" aria-hidden="true"></i> <a href="mailto:shravankushwaha2277@gmail.com"><small>shravankushwaha2277@gmail.com</small></a></li>
            <li><i class="fa fa-github-square mr-2 text-charcoal" aria-hidden="true"></i> <a href="https://github.com/" target="_blank">github.com/shravan</a></li>
            <li><i class="fa fa-globe mr-2 text-charcoal" aria-hidden="true"></i> Utter Pradesh, India</li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row my-5">
        <div class="col-md-6 col-lg-4 col-xl-3 text-center">
          <img class="rounded-circle resume-img" src="{% static 'appportfolio/images/shravan120.jpeg' %}" alt="">
        </div>
        <div class="col-md-6 col-lg-8 col-xl-9 text-justify">
          <p>A self motivated and independent developer, working as a backend software developer in the IT industry for more than 3 years in agile model. Experienced in developing REST APIs and other services in a micro-service based cloud applicaiton. A quick learner and a real-time problem solver with a positive attitude towards learning new things.</p>
        </div>
      </div>
      <hr>
      <div class="row my-5">
        <div class="col-md-6 col-lg-8 col-xl-9">
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mb-4 topic-border-left">Work Experiences</h5>
          <!-- Senior Software Engineer -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
              <h6 class="font-weight-bold">Senior Software Engineer</h6>
              <p class="text-muted">Faarms Solutions.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 font-italic text-muted text-left text-md-right">
              <p>Dec, 2020 - Present</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>Develop clean and reusable modules in Python to build system applications which can run on various platforms. Debug issues and fix bugs in the system using the agile development life cycle. Develop REST APIs using swagger model and python flask. Develop end to end feature with zero tolerance for bugs and contributing to daily scrum meetings.</p>
            </div>
          </div>
          <hr>
          <!-- Full Stack Developer Codebreak -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
              <h6 class="font-weight-bold">Full Stack Developer</h6>
              <p class="text-muted">Graygraph Technologies LLC</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 font-italic text-muted text-left text-md-right">
              <p>Sep, 2019 - Dec, 2020</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>Worked as a crucial part of their web development team and updated and added features to their official website (www.graygraph.com). And also developed their official microsite (https://www.graygraph.com/) from scratch.</p>
            </div>
          </div>
          <hr>
          <!-- Full Stack Developer Saakshar -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
              <h6 class="font-weight-bold">Full Stack Developer</h6>
              <p class="text-muted">Saakshar Organization</p>
            </div>
            <div class="col-12 col-md-6 col-lg-4 font-italic text-muted text-left text-md-right">
              <p>Jul, 2017 - Sep, 2017</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>Worked as a part of the development team and contributed to the development of their official website(saakshar.org.in) from scratch. Tasks involved hosting, developing and handling all the requests from the client in their website using wordpress and PHP.</p>
            </div>
          </div>
          <!-- Projects -->
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 my-4 topic-border-left">Personal Projects</h5>
          <!-- Django portfolio -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
              <h6 class="font-weight-bold"><a class="text-sandy-brown" target="_blank" href="https://github.com">Django Portfolio</a></h6>
            </div>
            <div class="col-12 col-md-6 col-lg-4 font-italic text-muted text-left text-md-right">
              <p>Open Sourced in <i class="fa fa-github text-charcoal" aria-hidden="true"></i></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>A personal portfolio website (fully responsive and userfriendly) to showcase the skills in full stack development. The website is fully designed and developed using HTML, CSS, Bootstrap, jQuery in frontend and Python Django in the backend.</p>
            </div>
          </div>
          <!-- Mobistore -->
          <div class="row">
            <div class="col-12 col-md-6 col-lg-8 mb-2 mb-md-0">
              <h6 class="font-weight-bold"><a class="text-sandy-brown" target="_blank" href="https://github.com">Online Mobile Store</a></h6>
            </div>
            <div class="col-12 col-md-6 col-lg-4 font-italic text-muted text-left text-md-right">
              <p>Open Sourced in <i class="fa fa-github text-charcoal" aria-hidden="true"></i></p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>An website to showcase the skills in full stack development. The website is fully designed and developed using Component, CSS, Bootstrap, jQuery in frontend and Python FastAPI, React-Netive and PostgreSQL in the backend. This has a fully finctional admin panel to manage the products, offers etc.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 col-xl-3 border-left">
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mb-3 topic-border-left">Skills</h5>
          <ul class="list-unstyled">
            <h6 class="font-weight-bold">Technical</h6>
            <li>Python / FastAPI / Django</li>
            <li>REST API / Swagger</li>
            <li>Shell Scripting</li>
            <li>ReactNetive</li>
            <li>Postgresql / MySQL / MongoDB</li>
            <li>Docker / AWS</li>
          </ul>
          <h6 class="font-weight-bold">Professional</h6>
          <ul class="list-unstyled">
            <li>Effective communication</li>
            <li>Team player</li>
            <li>Strong problem solver</li>
            <li>Quick learner</li>
          </ul>
          <hr>
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mt-3 mb-4 topic-border-left">Education</h5>
          <h6 class="">MCA <span class="pull-right text-muted font-italic">MUIT: 8.19</span> </h6>
          <p class="text-muted">Master Of Computer Application</p>
          <hr>
          <h5 class="text-uppercase text-persian-green font-weight-bold pl-3 mt-3 mb-4 topic-border-left">Interests</h5>
          <ul class="list-unstyled">
            <li>Reading novels</li>
            <li>Play Game</li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
  </div>
</section>
{% endblock %}
{% block hireme %}
<section class="py-5 bg-persian-green">
  <div class="container text-center">
    <img class="rounded-circle" src="{% static 'appportfolio/images/120x120.png' %}" alt="">
    <h1 class="font-weight-bold">Interested in hiring me for your project?</h1>
    <p>Looking for an experienced full-stack developer to build your web app or ship your software product? To start an initial chat, just drop me an email at <a class="text-sandy-brown" href="mailto:shravankushwaha2277@gmail.com">shravankushwaha2277@gmail.com</a> I'll get back to you.</p>
    <a class="btn btn-info bg-crayola" href="mailto:shravankushwaha2277@gmail.com">Let's Talk</a>
  </div>
</section>
{% endblock %}
